NUnitTests/Web References/DaysADCounterRef/DaysADCounter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.days_calculator.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.days_calculator.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.days_calculator.com/">
      <s:element name="CalculateDaysFromAD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateDaysFromADResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateDaysFromADResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateDaysFromADSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateDaysFromAD" />
  </wsdl:message>
  <wsdl:message name="CalculateDaysFromADSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateDaysFromADResponse" />
  </wsdl:message>
  <wsdl:portType name="DaysADCounterSoap">
    <wsdl:operation name="CalculateDaysFromAD">
      <wsdl:input message="tns:CalculateDaysFromADSoapIn" />
      <wsdl:output message="tns:CalculateDaysFromADSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DaysADCounterSoap" type="tns:DaysADCounterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateDaysFromAD">
      <soap:operation soapAction="http://www.days_calculator.com/CalculateDaysFromAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DaysADCounterSoap12" type="tns:DaysADCounterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateDaysFromAD">
      <soap12:operation soapAction="http://www.days_calculator.com/CalculateDaysFromAD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DaysADCounter">
    <wsdl:port name="DaysADCounterSoap" binding="tns:DaysADCounterSoap">
      <soap:address location="http://localhost:11904/DaysADCounter.asmx" />
    </wsdl:port>
    <wsdl:port name="DaysADCounterSoap12" binding="tns:DaysADCounterSoap12">
      <soap12:address location="http://localhost:11904/DaysADCounter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>